// VARIABLES
$color-white: #ffffff;
$color-light-pink: #f9f0ff;
$color-grayish-purple: #8c6991;
$color-dark-purple: #2f1533;
$font-family: "Work Sans", "Arial", sans-serif;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* FONT-FACE */

@font-face {
  font-family: "Work Sans";
  src: url("/fonts/static/WorkSans-Regular.woff2") format("woff2"),
  url("/fonts/static/WorkSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Work Sans";
  src: url("/fonts/static/WorkSans-Bold.woff2") format("woff2"),
  url("/fonts/static/WorkSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Work Sans";
  src: url("/fonts/static/WorkSans-SemiBold.woff2") format("woff2"),
  url("/fonts/static/WorkSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* GLOBAL */

html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: $font-family;
  font-size: 16px;
  background-color: $color-white  ;
  color: $color-dark-purple;
  background-image: url("../images/background-pattern-desktop.svg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
}

img {
  max-width: 100%;
  height: auto;
}

/* AUTOFILL-STYLES */
/*input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-color: transparent;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}*/


/* PLACEHOLDER-STYLES */
/*::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
  color: rgba(52, 49, 61, 0.5);
  opacity: 1;
}*/


/* VISUALLY-HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* CONTAINER  */
.container {
  width: 100%;
  max-width: 1200px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}

/* MAIN-CONTENT  */
.main-content {
  flex-grow: 1;
}
